*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
polarapp.properties
app/src/main/java/fi/ainon/polarAppis/communication/polar/PolarConnectionOrig.kt
/app/schemas/fi.ainon.polarAppis.data.local.database.AppDatabase/1.json
/app/src/main/java/fi/ainon/polarAppis/data/local/database/AppDatabase.kt
/app/src/main/java/fi/ainon/polarAppis/data/
